# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3
config/db.sqlite3

# Environment variables
.env

# Media
media/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db